{% extends '../registration/base.html' %}

{% block title %}Home||{{block.super}}{% endblock %}

{% block content %}
<div class="row" style="margin-top:80px">
	<div class="col-md-10 col-xs-5"></div>

{% if user.is_authenticated %}
  <h3>Hi {{ user.username }}!</h3>
{% else %}
<div class="col-md-3 col-xs-3">
<div class='Not-loggedin' style="padding:20px;color:black;" >
  <p>You are not logged in</p>
  <a href="{% url 'login' %}"><h3>login</h3></a>|<a href="{%url 'users:signup' %}">SignUp</a>
</div>
</div>
{% endif %}
</div>
{% endblock %}