{%extends 'base.html'%}
{% block page_title%}Latest||{{block.super}}{% endblock page_title %}
{%block content%}
{%if not post%}
					<center>
					<div>	
					<strong>Latest Post</strong>
					</div>	
				</center>
{% for post in latest_post %}
					
                    <div class="well well-sm">
                      <div><h3 style="display:inline"><a href="{%url 'users:detail' post.id%}">{{post.Title}}</a></h3>
                      	<p style="display:inline">By {{post.userName}} at <small>{{post.pub_date.time}}</small></p>
                      	<div><a href="{{post.Category}}"><p id="Category">{{post.Category}}</p></a></div>
                        </div>
                    </div>
                {% endfor %}
{%else%}
<h3>No Post Available</h3>
{%endif%}               
{%endblock content%}                